
## <summary>policy for tenocoin</summary>


########################################
## <summary>
##	Transition to tenocoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tenocoin_domtrans',`
	gen_require(`
		type tenocoin_t, tenocoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, tenocoin_exec_t, tenocoin_t)
')


########################################
## <summary>
##	Execute tenocoin server in the tenocoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenocoin_initrc_domtrans',`
	gen_require(`
		type tenocoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, tenocoin_initrc_exec_t)
')


########################################
## <summary>
##	Search tenocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenocoin_search_lib',`
	gen_require(`
		type tenocoin_var_lib_t;
	')

	allow $1 tenocoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read tenocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenocoin_read_lib_files',`
	gen_require(`
		type tenocoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, tenocoin_var_lib_t, tenocoin_var_lib_t)
')

########################################
## <summary>
##	Manage tenocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenocoin_manage_lib_files',`
	gen_require(`
		type tenocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, tenocoin_var_lib_t, tenocoin_var_lib_t)
')

########################################
## <summary>
##	Manage tenocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tenocoin_manage_lib_dirs',`
	gen_require(`
		type tenocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, tenocoin_var_lib_t, tenocoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an tenocoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tenocoin_admin',`
	gen_require(`
		type tenocoin_t;
		type tenocoin_initrc_exec_t;
		type tenocoin_var_lib_t;
	')

	allow $1 tenocoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, tenocoin_t)

	tenocoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 tenocoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, tenocoin_var_lib_t)

')

